.form-control {
    margin-top: 10px;
}

.form {
    margin: auto;
    width: 80%;
}

.errors {
    color: red;
}

.rounded-div {
    background-color: #FAF9F6;
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }